#Switcher{
 -fx-background-color: transparent;
 -fx-text-fill: grey;
 -fx-underline: false;
}
#Switcher:hover{
 -fx-text-fill: #C0BDBD;
 -fx-underline: true;
}
#ProcessInitiator{
 -fx-color: #4e4b44;
 -fx-font: 15 "Monaco";
 -fx-text-fill: white;
}
#ProcessInitiator:hover{
 -fx-color:grey;
}
#Header{
 -fx-fill: #F5F5E9;
 -fx-font: 50 "Courier New";
 -fx-font-weight: bold;
 -fx-stroke: grey;
}
#Info{
 -fx-max-height: 120;
 -fx-max-width: 300;
}
#Info::selection{
 
}
